.cont{
    height: 500px;
    width: 500px;
    border: 2px solid;
    position: relative;
}
.block{
    height: 50px;
    width: 50px;
    background-color: yellow;
    position: absolute;
}